.containter {
  overflow: hidden;
  background-color: var(--d-1000);
  padding-top: 15px;
  padding-bottom: 0%;
  max-height: 123px;
}

.slidingBackground {
  background: url("../../../public/navbg.png") repeat-x;
  height: 108px !important;
  width: 5076px;
  animation: slide 60s linear infinite;
  filter: invert(80%);
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}