.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
}

.App-header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--white);
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); 
  }
}
.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.App main h1 {
  color: var(--secondary);
  margin-bottom: 5vmin;
  font-family: 'Ubuntu', sans-serif;
}

header {
  border-bottom: 1px solid var(--white);
  font-family: 'Ubuntu', sans-serif;
  background-color: #323232;
  background-image: url('../public/navbg.png');
}


.form-label{
  color: var(--white);
}
label{
  color: var(--white);
}