:root {
/* Derbyshire CSS Vars */
--d-100: #F2F3F2;
--d-200: #E4E7E4;
--d-300: #C6CEC7;
--d-400: #A3B0A5;
--d-500: #768D78;
--d-600: #235D2D;
--d-700: #1F5328;
--d-800: #1B4822;
--d-900: #163A1C;
--d-1000: #0F2914;

}